.mobile(@rules) {
  @media only screen and (max-device-width: 991px) {
    @rules();
  }
}

.hot {
  cursor: pointer;
  align-items: stretch !important;
  display: flex;
  flex-wrap: wrap;

  &--container {
    margin: 0 0 2em 0;
  }

  &-check {
    min-height: 60px;
    display: flex;
    align-items: center;
  }

  &-oldprice {
    text-decoration: line-through;
  }

  &-newprice {
    font-size: 15px;
  }

  &-percent {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: -10px;
    background: orangered;
    color: white;
    padding: 8px;
    font-weight: bold;
    height: 35px;
    box-shadow: 0 0 1px rgba(0,0,0,.5);

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 5px 0;
      border-color: transparent darken(orangered, 20%) transparent transparent;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 6px 0 0;
      border-color: orangered transparent transparent transparent;
    }

    &-text {
      &:before {
        content: '-';
      }

      &:after {
        content: '%';
      }
    }
  }

  &-card {
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    margin: 10px;
    border-radius: 2px;
    flex: 1 1 23%;
    position: relative;

    .mobile({
      flex: 1 1 30%;
      margin-right: 0;
      width: 100%;
    });

    &--nobordered {
      border: none;
      border-radius: 2px;
    }

    &:hover .hot-card-image {
      transform: scale3d(1.1, 1.1, 1);
    }

    &-title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    &-image, &-image--holder {
      width: 100%;
      min-width: 200px;
    }

    &-image {
      will-change: opacity;
      transform: translateZ(0);
      backface-visibility: hidden;
      perspective: 1000px;
      transition: transform .4s ease;
      height: auto;
    }

    &-image--holder {
      overflow: hidden;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      max-height: 150px;
    }

    &-content {
      background: #fff;
      border-radius: 2px;
      align-items: flex-start;
      text-decoration: none;
      color: #333;
      padding: 10px;
      height: 100%;

      &:hover {
        text-decoration: none;
      }
    }
  }
}