.mobile(@rules) {
  @media only screen and (max-device-width: 1024px) {
    @rules();
  }
}

.aut {
  overflow: visible;
  display: flex;
  padding: 0 10px 0 0;
  position: relative;
  align-items: center;
  width: 100%;
  cursor: pointer;
  min-width: 170px !important;

  &--flag {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    margin-right: 10px;
  }

  &--focused {
    cursor: text;
    box-shadow: 0 0 0 1px #000, 0 0 1px 1px rgba(0, 0, 0, .5)
  }

  &--pl {
    & * {
      cursor: pointer;
    }

    position: absolute;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
    right: 10px;
    padding: 0 40px 0 20px;
    opacity: 1;
    font-size: 100%;
    user-select: none;
    pointer-events: all;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: visible;

    &--focused {
      visibility: hidden;
      opacity: 0;
    }

    &--in {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    padding: 0 40px 0 20px;
    margin: 0;
    font-size: 100%;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &--focused {
      top: 0;
      cursor: text;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}