.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

.revscr {
  display: flex;
  align-items: center;
  justify-content: center;

  &--img {
    margin: 0 20px 10px 0;
    width: 200px;
    min-width: 200px;
    height: 200px;
    float: left;

    .mobile({
      float: none;
    });
  }

  &--name {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &--item {
    padding: 20px;
    clear: both;

    &--slide {
      min-height: 350px;
      max-height: 350px;
      overflow-y: auto;
    }

    .mobile({
      padding: 0;
      margin-bottom: 10px;
      font-size: 12px;
    });
  }
}