.stars {
  user-select: none;
  white-space: nowrap;
  display: inline-block;

  &--star {
    display: inline-block;
    transition: color .2s ease;

    &:before {
      content: '\002605';
    }
  }

  &--select {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;

    &--bordered {
      background: #fff;
      box-shadow: 0 0 0 1px #aaa;
      z-index: 0;
    }

    &--shadowed {
      background: #fff;
      box-shadow: 0 0 0 1px #aaa;
      z-index: 0;
    }

    &--label {
      white-space: nowrap;
      opacity: .8;
      font-size: 75%;
    }
  }
}