.mobile(@rules) {
  @media only screen and (max-device-width: 720px) {
    @rules();
  }
}

.tablet(@rules) {
  @media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {
    @rules();
  }
}

.hotelinfo {
  &--carousel {
    width: 50%;
    height: 400px;

    .mobile({
      width: 100%;
    });

    .tablet({
      width: 100%;
    });

    &--full {
      width: 100%;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}