.review {
  &--header {
    display: flex;
    margin-top: 15px;

    & > *:last-child {
      flex: 1;
      text-align: right;
    }
  }

  &--cat {
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 15px;
    transition: max-height .3s ease;
    will-change: max-height;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }

    &--close {
      position: relative;

      &:before {
        content: '';
        display: block;
        height: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, #fff 0%,rgba(255,255,255,0) 100%);
      }
    }

    &--open {
      &:before {
        background: none;
      }
    }
  }
}