.mobile(@rules) {
  @media only screen and (max-device-width: 720px) {
    @rules();
  }
}

.tablet(@rules) {
  @media only screen and (max-device-width: 900px) {
    @rules();
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &_icon {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    opacity: .7;

    &--white {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  &_block {
    display: flex;
    align-items: center;
    cursor: pointer;
  }


  &--block {
    border-radius: 2px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    width: 100%;
    max-width: 120px;
    font-size: 14px;
    margin: 2em;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 1px rgba(0,0,0,.5);
    }

    .mobile({
      margin: 5px;
      padding: 1em 0;
      max-width: 80px;
      font-size: 11px;
    });

    .tablet({
      margin: 10px;
      max-width: 80px;
      font-size: 11px;
    });
  }
}