.mobile(@rules) {
  @media only screen and (max-device-width: 1024px) {
    @rules();
  }
}

.desktop(@rules) {
  @media only screen and (min-device-width: 992px) {
    @rules();
  }
}

.full {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 10vh 0;
  min-height: fit-content;

  & .container {
    height: auto;
  }

  & .bordered {
    box-shadow: 0 0 0 6px rgba(255,255,255,.3);
    border-radius: 0;
    height: 50px;
    min-height: 50px !important;
  }
}

.flex-padded {
  margin-bottom: 10px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &__dock {
    flex-grow: 1;
  }
}

.error {
  &--message {
    min-height: 600px;
    margin: 0 20px;
  }
}

.search {
  display: flex;
  padding: 5px 0;

  &--warning {
    border-left: 6px solid #ff4500;
    background: #fff;
    border-radius: 2px;
    opacity: 0;
    max-height: 0;
    padding: 0 20px;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s ease;
    will-change: all;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
    margin: 0;

    &--visible {
      padding: 10px 20px;
      max-height: 300px;
      margin-bottom: 10px;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &--calendar {
    color: #000;
    padding: 1em 2em;
    background: linear-gradient(rgba(255,255,255,.5), transparent);
  }

  &--first {
    max-width: 800px;
    width: 100%;
  }

  &--title {
    margin: 0 0 1em 0;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 1px #000;
  }

  &--filters {
    display: none;
    &:before {
      content: '';
      background: url(/img/filters.svg) no-repeat 50% / cover;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    .mobile({
      display: flex;
    })
  }

  .mobile({
    flex-direction: column;
  });

  &--content {
    margin-top: 70px;
  }

  &-left {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-width: 280px;
    margin-right: 20px;

    &--close {
      min-height: 20px;
      margin: 0 1em 1.3em;
      display: none;
      cursor: pointer;

      .mobile({
        display: flex;
        justify-content: flex-end;
      });
    }

    .mobile({
      width: 100%;
      margin-right: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      padding: 1em;
      display: none;
      z-index: 8;

      &--show {
        display: flex;
      }
    });
  }

  &-right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: self-start;
    width: 100%;
  }

  &--pane {
    width: 100%;
  }

  &--found {
    &:first-child {
      margin-top: 0;
    }

    margin-bottom: 1em;
  }
}