.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

.charter {
  display: flex;

  &--block {
    display: flex;
    align-items: center;
    width: 100%;

    .mobile({
      justify-content: center;
      flex-wrap: wrap;
    });
  }

  &--arrow {
    margin: 1em;
    min-width: 20px;

    .mobile({
      transform: rotate(90deg);
    });
  }

  &--line {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    border-radius: 2px;
    width: 100%;

    .mobile({
      flex-wrap: wrap;
    })
  }

  &--icon {
    margin-right: 1em;
    & img {
      background: #fff;
    }
  }
}

.fuelcharge {
  background: #fff;
  border: 1px solid darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;

  &-top {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &-bottom {
    background: darkgreen;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
}