.editor {
  padding: .001em 1em;
  box-shadow: 0 0 0 1px darken(#fff, 35%);
  overflow-y: auto;
  font-size: 80%;
  background: #fff;
  min-height: 40px;
}

.custom-pell {
  min-height: 100%;
  outline: 0;
  overflow-y: auto;
  padding: 10px;
}