.selectgroup {
  user-select: none;
  max-height: 200px;
  max-width: 100%;
  overflow: auto;
  border-radius: 2px;

  &--input {
    display: flex;
    align-items: center;
    margin: 0px 0 0 20px;

    &--icon {
      font-size: 28px;
      color: #aaa;
    }

    & input {
      border: none;
      -webkit-appearance: none;
      outline: none;
      width: 100%;
      height: 100%;
      margin: 0 20px 0 10px;
      font-size: 15px;
    }
  }

  &__label {
    user-select: none;
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    opacity: .7;
    padding: 0 15px;
    justify-content: space-between;

    &--small {
      font-size: 85%;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  &__container {
    user-select: none;
    box-shadow: 0 0 0 1px #aaa;
    padding: 10px 0;
    background: white;
    border-radius: 2px;

    &:hover {
      box-shadow: 0 0 0 1px darken(#aaa, 40%);
    }
  }

  &--item {
    display: flex;
    align-items: center;
    margin: 0 10px;
    min-height: 30px;
    height: 30px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &--text {
      &-small {
        width: 50px;
        text-align: right;
      }
    }
  }
}