@darkgrey: #555;

.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

.tab {
  display: inline-block;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .1);

  &--nobg {
    background: transparent;
    box-shadow: none;

    & .tabs {
      background: transparent;
      display: inline-flex;
      width: auto;
      overflow: visible;

      &-tab {
        background: transparent;
        flex: none;
        overflow: inherit;

        &--auto {
          flex: none;
        }

        &:hover {
          background: transparent;
        }

        &-active {
          border-bottom: 3px solid orange;
        }
      }
    }

  }
}

.tabs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .mobile({
    overflow-x: auto;
    overflow-y: hidden;
    text-overflow: ellipsis;

    &-tab {
      white-space: nowrap;
    }
  });

  &-container {
    padding: 1em;
    width: 100%;
  }

  &-tab {
    cursor: pointer;
    padding: .6em 5px;
    background: darken(#fff, 10%);
    white-space: nowrap;
    flex-grow: 1;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    will-change: background;
    transition: background .1s ease;

    &--auto {
      flex: 1 1 auto;
      width: auto;
    }

    &:hover {
      background: darken(#fff, 20%);
    }

    .mobile({
      width: 33%;

      &--auto {
        width: auto;
      }
    });

    &-active {
      cursor: default;
      will-change: background;
      transition: background .1s ease;
      background: darken(#fff, 0%);

      &:hover {
        background: darken(#fff, 0%);
      }
    }
  }
}