.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

.preselect_content {
  width: 640px;
  margin: 0 auto;

  .mobile({
    width: 100%;
  });
}

.preselect-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preselect-header {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 0 0 1em;
  
  & .item {
    padding: 10px 0;
    opacity: .3;
    cursor: pointer;

    .mobile({
      padding: 10px 5px;
    });

    &:hover {
      & svg {
        fill: #d95107;
      }
    }
  }

  & .select {
    font-weight: bold;
    opacity: 1;
    & svg {
      fill: #d95107;
    }
  }
}
