.mobile(@rules) {
  @media only screen and (max-device-width: 720px) {
    @rules();
  }
}

.tablet(@rules) {
  @media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {
    @rules();
  }
}

.mp {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  position: relative;

  &--small {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &--diag {
    flex: 1;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

  &--date {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 100%;
    pointer-events: none;
    font-size: .8vw;

    .tablet({
      font-size: 1.3vw;
    });

    .mobile({
      display: none;
    });
  }

  &--c {
    cursor: pointer;
    text-decoration: none;
    margin: 0 5px;
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    align-self: flex-end;
    background: fade(#fa0, 90%);
    transition: height .2s ease, background-color .2s ease;

    &:after {
      content: attr(data-content);
      position: absolute;
      bottom: -20px;
    }

    &:hover {
      background: darken(fade(#fa0, 90%), 10%);
    }

    .mobile({
      margin-right: 1px;
    });

    .tablet({
      margin-right: 1px;
    });
  }

  &--gridbg {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px);
    background-size: 100% 50px;

    &--noborder {
      border-right: none;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      position: relative;


      & > * {
        position: absolute;
        display: block;
        white-space: nowrap;
        left: -30px;

        &:first-child {
          bottom: 120%
        }
      }
    }

  }

  &--btn {
    cursor: pointer;
    opacity: .5;
    transition:  opacity .2s ease;

    &:hover {
      opacity: 1;
    }

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}