.tooltip {
  position: absolute;
  left: 0;
  right: 1px;
  bottom: 100%;
  margin-bottom: -1px;
  z-index: 4;
  align-items: flex-start;
  display: flex;

  &__i {
    will-change: margin-bottom;
    transition: margin-bottom .3s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    max-height: 0;
    overflow: hidden;
    width: 100%;
    border: none;

    &:before {
      content: '';
      visibility: hidden;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 7px 0 7px;
      border-color: red transparent transparent transparent;
      position: absolute;
      bottom: 2px;
      left: 20%;
    }
  }

  &__txt {
    padding: 11px 20px;
    display: block;
    width: 100%;
    text-align: left;
    color: white;
    font-size: 15px;
  }

  &--folding {
    .tooltip__i {
      max-height: 2px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: transparent;
      border-top: 2px solid red;
    }
  }

  &--content-box {
    left: 0;
    right: 0;
    bottom: 99%;
  }

  &--expanded {
    .tooltip__i {
      max-height: 300px;
      margin-bottom: 8px;
      border-radius: 2px;
      display: inline-block;
      width: auto;

      &:before {
        visibility: visible;
      }
    }
  }

  &--error {
    &:before {
      display: block;
    }
  }

  &--error {
    .tooltip__i {
      background-color: red;
    }

    &:before {
      border-top-color: red;
    }
  }
}