@grey: #aaa;
@height: 40px;

.formitem {
  background: #fff;
  display: flex;
  color: #444;
  border: none;
  -webkit-appearance: none;
  position: relative;
  align-items: center;
  height: @height;
  min-height: @height !important;
  max-height: @height !important;
  padding: 0 20px;
  z-index: 0;
  //border-radius: 2px;
  box-shadow: 0 0 0 1px @grey;
  outline: none;
  min-width: fit-content;
  user-select: none;

  &:disabled {
    color: darken(#fff, 15%);
    background: darken(#fff, 2%);
    box-shadow: 0 0 0 1px darken(#fff, 15%);

    &:hover, &:focus, &:active {
      box-shadow: 0 0 0 1px darken(#fff, 25%);
    }
  }

  &:hover, &:focus, &:active {
    box-shadow: 0 0 0 1px darken(@grey, 30%);
  }

  &__label {
    position: absolute;
    font-size: 75%;
    font-weight: normal;
    cursor: inherit;
    user-select: none;
    opacity: .8;
    top: 0;
  }
}
