@main-color: #477ab9;


.desktop(@rules) {
  @media only screen and (min-device-width: 992px) {
    @rules();
  }
}

.mobile(@rules) {
  @media only screen and (max-device-width: 992px) {
    @rules();
  }
}

.desktop-only {
  .mobile({
    display: none !important;
  });

  .desktop({
    display: block !important;
  });
}

.menu {
  display: flex;
  height: 40px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: @main-color;
  position: fixed;
  top: 0;
  left: 0;
  right: ~"calc((100vw - 100%) * -1)";
  z-index: 7;
  white-space: nowrap;

  &--header {
    height: 40px;
    display: table-row;
  }

  &--close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1001;
    display: block;
    cursor: pointer;

    .desktop({
      display: none;
    });
  }

  &--body {
    display: flex;
    flex-direction: row;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    min-height: 40px;

    &--dropdown {
      position: absolute;
      top: 100%;
      width: 100%;
      background: darken(@main-color, 20%);
      left: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      will-change: max-height, opacity;
      transform: translateZ(0);
      backface-visibility: hidden;
      perspective: 1000px;
      transition: opacity .2s ease, max-height .2s ease;
      max-height: 0;
      padding: 0;

      & > * {
        display: none !important;
      }

      &--visible {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        max-height: 3000px;
        padding: 10px 0;

        & > * {
          display: block !important;
        }
      }

      & .menu-item-container:before {
        display: none;
      }

      .mobile({
        position: relative;
      })
    }
  }

  .mobile({
    justify-content: space-between;

    &--body {
      position: absolute;
      flex-direction: column;
      pointer-events: none;
      z-index: 10;
      background: darken(@main-color, 30%);
      padding: 20px 30px;
      transform: translate(-100%, 0px);
      display: block;
      overflow-y: auto;
      height: 100vh;

      &--close {
        animation: menu-close .2s ease forwards;
      }

      &--open {
        animation: menu-open .3s ease forwards;
        pointer-events: all;
      }
    }
  });


  &--logo {
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;

    &--link {
      display: flex !important;
      align-items: center;
      position: relative;
      color: #fff;
      padding-right: 20px;
      font-size: 15px;
      text-decoration: none;

      &:not(:last-child) {
        &:after {
          content: '';
          border-left: 1px solid orange;
          height: 15px;
          position: absolute;
          right: 0;

          .mobile({
            border-left: none !important;
          });
        }
      }
    }
  }


  &-hamburger {
    display: none;

    .mobile({
      display: block;
      margin-left: 2em;
      cursor: pointer;
    });
  }

  &-item {
    color: #fff;
    text-decoration: none !important;
    height: 40px;
    line-height: 40px;
    display: block;
    align-items: center;
    padding: 0 20px;
    font-size: 15px;
    width: 100%;

    &-container {
      overflow: hidden;
      display: block;
      align-items: center;
      color: #fff;
      cursor: pointer;

      &--column {
        flex-wrap: wrap;
      }

      &:before {
        position: absolute;
        content: '';
        border-left: 1px solid orange;
        height: 15px;
        margin: 15px 0;

        .mobile({
          border-left: none;
        });
      }

      &:first-child {
        &:before {
          content: none;
        }
      }
    }

  }
}

@keyframes menu-open {
  0% {
    transform: translate3d(-100%, 0px, 0px);
  }
  100% {
    transform: translate3d(0%, 0px, 0px);
  }
}

@keyframes menu-close {
  0% {
    transform: translate3d(0%, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}
