@grey: #aaa;
@height: 40px;

.select-row {
  font-weight: 600;
  cursor: pointer;
  justify-content: space-between;
  align-items: stretch;
  background: white;
  box-shadow: 0 0 0 1px #aaa;
  border-radius: 2px;
  user-select: none;

  &--nobg {
    background: transparent !important;
    box-shadow: none !important;
    color: inherit !important;
    padding: 0;
    margin: inherit;
    font-weight: inherit;
    height: auto !important;
    min-height: auto !important;

    &:hover {
      box-shadow: none;
    }

    & .select-row--text {
      line-height: normal !important;
    }
  }

  &--text {
    line-height: 50px;
    white-space: nowrap;
    display: inline-block;
  }

  &--relative {
    position: relative;
    //box-shadow: 0 0 0 1px #000, 0 0 3px 1px rgba(0, 0, 0, .5);
  }

  &__selected {
    width: 100%;
    height: 100%;
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    &--single {
      display: flex;
      align-items: center;
    }
  }

  &--bordered {
    box-shadow: 0 0 0 1px #aaa;
  }

  &__option {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px 10px;
    border-bottom: none;
    min-height: 30px;

    & span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__label {
      position: absolute;
      left: 20px;
      bottom: 10px;
      font-size: 85%;
      font-weight: normal;
    }

    &:hover, &--selected {
      background: @grey;
    }

    &--group-title {
      font-size: 11px;
      font-weight: normal;
    }

    &--selected {
      cursor: default;
    }

    &--disabled, &--disabled * {
      color: darken(@grey, 30%);
      cursor: default;
      &:hover {
        background: none;
      }
    }

    &__input-search {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      -webkit-appearance: none;
      outline: none;
      font-weight: bold;

      &:-ms-input-placeholder {
        color: @grey;
      }
    }

    &--search {
      cursor: text;
      display: flex;
      width: 100%;
    }
  }
}

.select {
  &-text--container {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-width: fit-content;

    & svg {
      align-self: center;
    }
  }
}