.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

@componentHeight: 40px;
@height: 30px;
@selectedColor: #349AEF;

.cld {
  user-select: none;
  position: relative;
  cursor: default;

  &__table {
    will-change: top;
  }

  &--overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: rgba(0, 0, 0, .4);
    pointer-events: none;

    &.show {
      opacity: 1 !important;
    }
  }

  &--calendar {
    display: flex;

    &--months {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      font-size: 12px;
      flex-basis: 90px;


      .mobile({
        display: none;
      });

      &--hover {
        position: absolute;
        height: 16.666%;
        width: 100%;
        transition: top .3s ease;
      }
    }

    &--month {
      padding: 0 10px;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  &--close {
    margin: 1em 1.3em 1em 1em;
    min-height: 22px;
    display: none;
    cursor: pointer;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    .mobile({
      display: flex;
      justify-content: flex-end;
    });
  }

  & .cld-container {
    background: #fff;
    min-width: fit-content;
    width: 100%;
    overflow-y: hidden;
    max-height: 100000px;

    .mobile({
      position: fixed;
      margin-top: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 8;
      box-shadow: none;
    });
  }

  & .cld__range {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    & .cld__from-date {
      vertical-align: top;
      display: flex;
      align-items: center;
      margin: 10px 0;

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    & .cld__range-month {
      opacity: .7;
      font-size: 70%;
    }

    & .cld__range-date {
      font-size: 160%;
      line-height: 24px;
      font-weight: 500;
      margin: 0 5px 0 -5px;
    }

    & .cld__range-day {
      font-size: 70%;
      opacity: .7;
    }
  }

  & .cld__days-names {
    color: #a2a2a2;
    font-size: 0.8rem;
    width: 100%;
  }

  & .cld__wrap {
    -webkit-overflow-scrolling: touch;
    height: @height * 12;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    font-size: 12px;
    flex: 1 1 auto;
    min-width: fit-content;

    .mobile({
      position: fixed;
      top: 40px;
      bottom: 0;
      width: 100%;
      height: auto;
    });
  }

  & .cld__table {
    position: relative;
    top: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;

    &__month {
      padding: 0 10px;
      color: darkorange;
      font-size: 15px;
    }

    & .cld__day {
      text-align: center;

      &:hover .cld__in-day {
        border: 2px solid @selectedColor;
      }

      &--bordered {
        border-bottom: 1px solid #e3e3e3;
      }

      &.dis {
        color: #bbb;
      }

      &.selected {
        background: lighten(@selectedColor, 30%);
        color: #5d5d5d;
        position: relative;
      }

      &.sel--start {
        position: relative;

        & .cld__in-day {
          border: 2px solid @selectedColor !important;
          background: @selectedColor !important;
          position: relative;
        }
      }

      &.sel--end {
        position: relative;

        & .cld__in-day {
          background: @selectedColor;
          border: 2px solid @selectedColor;
        }
      }

      &.out--range {
        opacity: .5;
        cursor: default;


        &:hover .cld__in-day {
          border: 2px solid transparent;
        }
      }

    }

    & .cld__in-day {
      line-height: @height;
      border: 2px solid transparent;
      margin: auto;
      padding: 0 .5em;
      vertical-align: middle;
    }
 }
}