.mobile(@rules) {
  @media only screen and (max-device-width: 1024px) {
    @rules();
  }
}

.tourinfo {
  &--warn {
    position: relative;
    &:before {
      content: '*';
      color: red;
      font-weight: bold;
      margin-right: 5px;
    }
  }

  &--carousel {
    flex-grow: 1;
    margin-right: 20px;
    position: relative;
    width: 50%;
    height: 500px;

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .mobile({
      margin-right: 0;
      width: 100%;
    });

    &--after {
      flex-grow: 1;
      flex-basis: 50%;

      .mobile({
        margin-top: 1em;
      });
    }
  }

  &--payment {
    border-spacing: 0;
    background: white;
    width: 100%;

    &--last {
       background: #d7e2dc;
    }

    & td {
      padding: 10px 20px;
      &:first-child {
        text-align: left !important;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
