.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

.tours {
  padding: 1em;
  width: 100%;
  font-size: 14px;
  table-layout: fixed;

  &-tour {
    min-height: 35px;
    border-bottom: 1px solid #ccc;

    .mobile({
      min-height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 10px;
      margin-bottom: 10px;
      align-items: center;
    });

    &--item {
      white-space: nowrap;
      padding: 0 5px 0 0;
      overflow: hidden;
      text-overflow: ellipsis;

      & img {
        background-color: #fff;
        padding: 10px;
        margin: 5px;
      }

      .mobile({
        height: auto;
        line-height: normal;
        padding: 0;
        white-space: normal;
        flex: 1 1 auto;
        margin-right: 10px;
        display: block;

        &:last-child {
          margin-left: 10px;
          margin-right: 0;
        }
      })
    }

    &:last-child {
      border-bottom: none;
    }
  }
}