.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

.index-service {
  min-width: 100px;
  max-width: 100px;
  width: auto !important;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: transparent;
  margin: 2em 3em;

  .mobile({
    margin: 2em auto;
  });

  &:hover {
    text-decoration: none;
  }

  .mobile({
    width: 100%;
    flex: 1 1 auto;
  });

  &:after {
    content: '';
    display: block;
    text-align: center;
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
  }

  &:before {
    content: '';
    display: flex;
    border-radius: 50%;
    height: 100px;
    background-color: #fc7200;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
  }

  &:hover:after {
    text-decoration: underline;
  }

  &--avia {
    &:before {
      background-image: url(/img/avia.svg);
    }
    &:after {
      content: 'авиаперелеты';
    }
  }
  &--hotels {
    &:before {
      background-image: url(/img/hotels.svg);
    }
    &:after {
      content: 'отели';
    }
  }
  &--insurance {
    &:before {
      background-image: url(/img/shield.svg);
    }
    &:after {
      content: 'страхование';
    }
  }
}