.swiper {
  display: flex;
  align-items: center;

  &--left, &--right {
    opacity: .3;
    cursor: pointer;
    will-change: opacity;
    transition: opacity .2s ease;

    &:hover {
      will-change: opacity;
      transition: opacity .2s ease;
      opacity: 1;
    }
  }

  &--left {
    margin-right: 1em;
  }

  &--right {
    margin-left: 1em;
  }

  &--pane {
    flex: 1 1;
    overflow: hidden;
    position: relative;

    &--body {
      position: absolute;
      top: 0;
      left: -100%;
      animation: none;
      display: flex;
      align-items: center;
    }
  }
}

@keyframes moveright {
  0% { left: -100% }
  100% { left: -200% }
}

@keyframes moveleft {
  0% { left: -100% }
  100% { left: 0 }
}