@height: 40px;

.gender {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: @height;
  min-height: @height;
  cursor: pointer;

  &:before {
    content: 'пол';
    color: #666
  }
}