.range {
  box-shadow: inset 0 0 0 1px #ddd;
  background: #fff;
  padding: 0 !important;
  align-items: stretch !important;

  &-button {
    background: #d95107;
    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 25px;

    &--small {
      padding: 0 5px;
    }
  }

  &-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-left, &-right {
    &:hover {
      background: lighten(#d95107, 20%);
    }
    &:active {
      background: darken(#d95107, 10%);
    }
  }

  &-value {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex: 1 1 auto;
    white-space: nowrap;

    &--small {
      font-size: 12px;
      font-weight: normal;
      padding: 0 10px;
    }
  }
}
