@componentHeight: 40px;

.ppls {
  user-select: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  justify-content: space-between;

  &--focused {
    box-shadow: 0 0 0 1px #000, 0 0 1px 1px rgba(0,0,0,.5);
  }

  &--s {
    width: 100%;
    height: 30px;
    background: #d95107;
    border: none;
    display: flex;
    color: white;
    padding: 0 10px;
    border-radius: 2px;
    -webkit-appearance: none;
    outline: none;

    &:disabled {
      background: #9c9c9c;
    }

    &:before {
      content: 'добавить ребенка';
      display: flex;
      position: absolute;

    }
  }

  &--o {
    background: white;
    color: #000;
    -webkit-appearance: none;
    outline: none;

    &:disabled {
      display: none;
    }
  }

  &--ch {
    width: 100%;
    text-decoration: none !important;
}

  &--text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
    min-width: 140px;
    width: 100%;

    &--text {
      line-height: 50px;
      display: inline-block;
      align-self: flex-start;
    }
  }

  &--c {
    padding: 10px;
  }

  &--label {
    color: #444;
    white-space: nowrap;
  }

  &--line {
    display: flex;
    margin: 5px 0;
    justify-content: space-evenly;
    &--selectors {
      flex-direction: row;
      justify-content: center;
    }
  }

  &--button {
    display: flex;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    &:hover, &--selected {
      background: #ddd;
    }

    &--container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      &--select {
        width: 33.333%;

        & select {
          width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}