.tablet(@rules) {
  @media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {
    @rules();
  }
}

.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

@background-color: #faf9f0;
@dark-color: #3a3a3a;

.window {
  display: inline-block;
  background-color: @background-color;
  max-width: 640px;
  position: relative;
  overflow: auto;
  border-radius: 2px;
  max-height: 90vh;

  .mobile({
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
  });

  .tablet({
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
  });


  &--overlay {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .8);
    align-items: center;
    justify-content: center;
    font-size: 90%;
  }

  &__close {
    position: absolute;
    opacity: .4;
    cursor: pointer;
    height: 30px;
    width: 30px;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;

    .mobile({
      margin: 1em 0 0 0;
      opacity: 1;
      top: 0;
      right: 10px;
    });

    &:hover {
      opacity: 1;
    }
  }
  
  &__content {
    margin: 0 auto;
    padding: 0 20px 20px;
    overflow-y: auto;

    .mobile({
      width: 100%;
    });
  }
}