@offset: 5px;
@offset2: @offset * 2;

.mobile(@rules) {
  @media only screen and (max-device-width: 1024px) {
    @rules();
  }
}

.docker {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: ~"calc(100% + @{offset2})" !important;
  padding-right: @offset;

  & img {
    max-width: initial !important;
  }

  &--inline {
    display: inline-flex;
    width: auto !important;

    & .docker--item {
      flex: 1 1 auto !important;
    }
  }

  &--top {
    align-items: flex-start;
  }

  .mobile({
    flex-wrap: wrap;
  });

  &--columns {
    flex-wrap: wrap;

    & .docker--item {
      flex: 0 1 100%;
    }
  }

  &--item {
    display: flex;
    margin-bottom: @offset;
    margin-right: @offset;
    flex: 1 1 auto;
    position: relative;

    &--child {
      flex: 1 1 100%;

      & > * {
        width: 100%;
      }
    }
  }
}