.mobile(@rules) {
  @media only screen and (max-device-width: 720px) {
    @rules();
  }
}
.tablet(@rules) {
  @media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {
    @rules();
  }
}

.desktop(@rules) {
  @media only screen and (min-device-width: 1024px) {
    @rules();
  }
}

.userstable {
  width: 100%;

  & td, & th {
    padding: 0 10px;
  }
}

.pell-content {
  min-height: 70vh !important;
}