.mobile(@rules) {
  @media only screen and (max-device-width: 720px) {
    @rules();
  }
}

@dark-color: #3a3a3a;

.footer {
  background: @dark-color;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  display: table-row;
  height: 1px;

  & a {
    color: #fff;
  }

  &--content {
    padding: 20px 10px;

    &--small {
      display: block;
      line-height: 40px;
      font-size: 90%;
    }
  }

  &-topline {
    display: flex;
    justify-content: space-evenly;
    align-items: center !important;
    background-color: darken(@dark-color, 5%);

    &--item {
      display: flex;
      align-items: center;
      height: 40px;
    }
  }

  &--bottomline {
    margin: 0 auto;
    text-align: left;
    color: #9c9c9c;
    font-size: 80%;
    align-items: flex-start;

    & b {
      color: #fff;
    }

    &--item:not(.last) {
      padding-right: 40px;

      .mobile({
        padding-right: 0;
      })
    }

    .mobile({
      width: 100%;
      padding: 0 10px;
    })
  }
}
