.mobile(@rules) {
  @media only screen and (max-device-width: 600px) {
    @rules();
  }
}

.tablet(@rules) {
  @media only screen and (max-device-width: 900px) {
    @rules();
  }
}

.hotel {
  display: flex;
  width: 100%;
  position: relative;

  .mobile({
    & .flex-stretch {
      width: 100%;
    }
  });

  &--wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05);

    &--selected {
      box-shadow: 0 0 0 3px orange;
    }
  }

  &--rating {
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    background: green;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 3;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;

    .mobile({
      top: 0;
      left: 0;
    });
  }

  &--more {
    padding: 1em;
    background: #fff;
    margin-bottom: 1em;
  }

  .mobile({
    flex-wrap: wrap;
  });

  &--icon {
    height: 50px;
    width: 50px;
    margin: 5px;
    padding: 6px;
    border-radius: 10px;
    background: #ffe7c4;
    user-select: none;
    cursor: default;
  }

  &--image {
    display: flex;
    margin: 1em;
    object-position: center;
    width: 300px;
    min-width: 300px;
    height: 200px;
    object-fit: initial;
    overflow: hidden;

    & img {
      height: 100%;
      width: 100%;
      object-fit: none;
    }

    .mobile({
      margin: 0;
      min-width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
    });
  }

  &--description {
    width: 100%;
    padding: 1em 1em 1em 0;
    .mobile({
      padding: 1em;
    });
  }
}

.carousel {
  &.carousel-slider .control-arrow, & .control-arrow {
    opacity: 1;
  }

  & .slider, & .slider-wrapper {
    height: 100%;
  }

  & .slide {
    height: 100%;

    & img {
      object-fit: none;
      height: 100%;
    }
  }
}