.pgn {
  &--i {
    cursor: pointer;
    padding: 0 8px;
    color: #477ab9;
    background: none;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    vertical-align: middle;
    text-decoration: none;

    &--s {
      cursor: default;
      text-decoration: none;
      color: #000;
      border-radius: 2px;
      background: #fff;
      box-shadow: 0 0 1px rgba(0,0,0,.5);
    }
  }
}