@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), local('NotoSans'), url(/font/ns.woff) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.phone(@rules) {
  @media only screen and (max-device-width: 440px) {
    @rules();
  }
}

.mobile(@rules) {
  @media only screen and (min-device-width: 440px) and (max-device-width: 720px) {
    @rules();
  }
}
.tablet(@rules) {
  @media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {
    @rules();
  }
}

.desktop(@rules) {
  @media only screen and (min-device-width: 1024px) {
    @rules();
  }
}

@main-color: #477ab9;
@dark-color: #333;

& *, & *:after, & *:before {
  font-family: 'Noto Sans', Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-feature-settings: "kern";
}

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

a {
  color: @main-color;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3 {
  font-weight: 400;
}

h3 {
  font-weight: bold;
}

h1 {
  margin-top: 50px;
  font-size: 200%;
}

h2 {
  margin-top: 30px;
  font-size: 150%;
}

h3 {
  margin-top: 20px;
  font-size: 120%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.site-wrapper {
  height: 100%;

  & * {
    &::-webkit-scrollbar { width: 6px; }
    &::-webkit-scrollbar-thumb { background: darken(@dark-color, 30%); margin: 0 10px 0 0; }
    &::-webkit-scrollbar-track { background: lighten(@dark-color, 30%); }
  }

  & img {
    max-width: 100%;
  }
}

.main-content {
  position: relative;
  display: table-row;
}

.container {
  margin: 0 auto;
  text-align: left;
  position: relative;

  .phone({
    width: 300px !important;
    margin: 0 auto;
  });

  .mobile({
    width: 95% !important;
    margin: 0 auto;
  });

  .tablet({
    width: 720px !important;;
  });

  .desktop({
    width: 1300px !important;;
  });
}

.container-lg {
  margin: 0 auto;
  text-align: left;
  position: relative;
  width: 98% !important;;
}

.container-md {
  max-width: 95%;
  margin: 0 auto;
  text-align: left;

  .mobile({
    width: 95% !important;;
  });

  .tablet({
    width: 430px !important;;
  });

  .desktop({
    width: 640px;
  });
}

.container-xs {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;

  .mobile({
    width: 95% !important;;
  });

  .tablet({
    width: 270px !important;;
  });

  .desktop({
    width: 300px !important;;
  });
}

.mobile {
  .desktop({
    display: none !important;
  })
}

.nomobile {
  .mobile({
    display: none !important;
  })
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
  &--top {
    margin-top: 0;
  }
  &--bottom {
    margin-bottom: 0;
  }
}
.muted {
  opacity: .8;
}

.top10 {
  margin-top: 10px !important
}

.bottom10 {
  margin-bottom: 10px !important
}

.bottom20 {
  margin-bottom: 20px !important
}

.top70 {
  margin-top: 70px !important
}

.bottom70 {
  margin-bottom: 70px !important
}

.left20 {
  margin-left: 20px !important
}

.top20 {
  margin-top: 20px !important
}

.big {
  font-size: 120%;
  font-weight: bold;
}

.block {
  display: block;
  clear: both;
}

.noflex {
  display: block;
  flex: none;
}

.text-center {
  text-align: center;
  display: block;
}

.inline-flex {
  display: inline-flex;
  width: auto;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .phone({
    justify-content: center;
  });

  .mobile({
    justify-content: center;
  });

  &-row {
    display: flex;
    align-items: start;
    flex-wrap: nowrap;

    .tablet({
      flex-wrap: wrap;
    });

    .phone({
      flex-wrap: wrap;
    });

    .mobile({
      flex-wrap: wrap;
    })
  }

  &-center {
    justify-content: center;

    &-align {
      align-items: center;
    }
  }

  &-between {
    display: flex;
    justify-content: space-between;

    .phone({
      flex-wrap: wrap;
    });

    .mobile({
      flex-wrap: wrap;
    });

    .tablet({
      flex-wrap: wrap;
    });
  }

  &-end {
    display: flex;
    justify-content: flex-end;

    &-align {
      align-items: flex-end;
    }
  }

  &-vertical-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &-table-col {
    display: flex;
    flex: 1 1;

    .phone({
      flex: 1 1 auto;
    });

    .mobile({
      flex: 1 1 auto;
    });
  }

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-stretch {
    display: flex;
    align-items: stretch;
  }
}


.nowrap {
  white-space: nowrap;
}

.col {
  flex: 1 1 auto;
}

.small {
  font-size: 85%
}

.pointer {
  cursor: pointer;
}

.multi2 {
  column-count: 2;
  .phone({
    column-count: 1;
  });

  .mobile({
    column-count: 1;
  });
}

.multi3 {
  column-count: 3;

  .phone({
    column-count: 1;
  });

  .mobile({
    column-count: 1;
  });

  .tablet({
    column-count: 2;
  });
}

.multi4 {
  column-count: 4;

  .phone({
    column-count: 1;
  });

  .mobile({
    column-count: 1;
  });

  .tablet({
    column-count: 3;
  });
}


.noscript {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10;

  &-container {
    position: absolute;
    bottom: 20px;
    right: 50px;
    background: #f8f4ed;
    max-width: 90%;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 0 40px -15px;
    font-size: 15px;
  }
}

.document-loading *,
.document-loading *:before,
.document-loading *:after {
  animation-play-state: paused !important;
}